aiogrpc >= 1.6
cryptography >= 1.9
grpcio >= 1.0.1
hkdf >= 0.0.3
lark-parser == 0.7.1
pycryptodomex >= 3.4.2
pysha3 == 1.0b1
requests >= 2.20.0
rx >= 3.0.1
six >= 1.4.0
protobuf >= 3.6.0
couchdb >= 1.2
